h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-size: 40px;
}

/* Class selector */
.common {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;

    background-color: bisque;
    border: solid 1px black;
}

.header {
    top: 5px;
    left: 5px;
    height: 100px;
    padding-left: 20px;
    right: 5px;
    text-align: center;
    }

.navbar
{
    top: 106px;
    left: 5px;
    height: 80px;
    padding-left: 20px;
    right: 5px;
    font-size: 25px;
    text-align: center;
}

.leftmenu {
    top: 190px;
    left: 5px;
    bottom: 40px;
    width: 150px;
    padding: 5px;
}


.rightmenu{
    top: 190px;
    right: 5px;
    bottom: 40px;
    width: 150px;
    padding: 5px;
}

.mainbody {
    top: 190px; 
    left: 170px;
    right: 170px;
    bottom: 40px;
    padding: 5px;
}

.footer {
    bottom: 5px;
    left: 5px; 
    right: 5px;
    height: 30px;
    padding: 5px;
    text-align: center;
    padding-bottom: 20px;
    position: fixed;
}

.subheader {
    border: solid 1px black;
    float: right;
    z-index: 1;
}