/* 
 * This block of code is for formatting the body
*/



body { 
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../../../Downloads/IMG_20220405_172606_088.jpg);
    background-position: center;
    background-repeat:inherit;
    color:aliceblue;
    text-shadow: 1px 0 10px black;
}

p {
    font-size: 16px;
    color: aliceblue; 
}

ol {
    list-style-type: "\1F64C" ;
  }

.olHobbies {
    list-style-type: georgian;
}


h1 {
    font-style: Arial;
    color: darkgoldenrod;
    opacity: 75%;
}

h2 {
    font-style: Arial;
    color: #5daf8d;
    opacity: 50%;
    text-decoration: underline;
} 

h3 {
    font-style: Arial;
    color: aliceblue;
    size: 16;
    font-weight: bolder;
    text-decoration: underline;
}

a:hover {
    text-decoration-color: red;
}

a:link {
    color: rgb(169, 169, 232);
}

a:visited {
    color: rgb(169, 169, 232);
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 8px;
    cursor: pointer;
  }
  
  .button1 {background-color: #155f9b;}
  .button2 {background-color: #ba0022;}